{% extends "base.html" %}
{% load static %}


{% block title %}Emergency Rescue{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'awesome.markers.css' %}">

<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        display: flex;
    }
    #left-panel {
        flex: 1 1 75%; /* Grow, shrink, basis */
        max-width: 75%; /* Ensures left panel is at most 75% of the page width */
        padding: 10px;
    }
    #map {
        height: 100%;
        width: 100%;
    }
    #right-panel {
        flex: 1 1 25%; /* Grow, shrink, basis */
        padding: 10px;
        background-color: #f0f0f0; /* Optional: Background color for the right panel */
    }
    button {
            margin-top: 20px;
    }
</style>

<div id="left-panel">
    <div id="map"></div>
</div>
<div id="right-panel">
    <!-- Content for the right panel goes here -->
    <h1>Right Panel</h1>
    <p>This is the right panel content.</p>
    <button id="myButton">Scan the region</button>
</div>


<script src="{% static 'awesome.markers.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var centerLat = {{ center_lat }};
        var centerLng = {{ center_lng }};
        var emrgencyLat = {{ emergencyLat }};
        var emrgencyLng = {{ emergencyLng }};
        var bounds = [
            [{{ bounds.1 }}, {{ bounds.0 }}],  // Southwest corner (minLat, minLng)
            [{{ bounds.3 }}, {{ bounds.2 }}]   // Northeast corner (maxLat, maxLng)
        ];

        var map = L.map('map').setView([centerLat, centerLng], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Set the view to fit the bounds
        // map.fitBounds(bounds);

        // Define a custom icon using Leaflet.AwesomeMarkers
        var awesomeIcon = L.AwesomeMarkers.icon({
                icon: 'star', // Icon class (e.g., star, coffee, etc.)
                markerColor: 'blue', // Color of the marker
                prefix: 'fa' // Font Awesome prefix (if using Font Awesome icons)
        });

        // Add a marker at the center
        var marker = L.marker([emrgencyLat, emrgencyLng], {icon: awesomeIcon}).addTo(map);

        // Add a popup to the marker
        marker.bindPopup("<b>Center of Polygon</b><br>This is the centroid of the polygon.").openPopup();

        // Add event listener to the button
        var button = document.getElementById('myButton');
        button.addEventListener('click', function() {
            console.log('Random String: ' + Math.random().toString(36).substring(7));
            button.disabled = true;
        });
    });
</script>


{% endblock %}
