{% extends "base.html" %}
{% load static %}


{% block title %}Emergency Rescue{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'awesome.markers.css' %}">

<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        display: flex;
    }
    #left-panel {
        flex: 1 1 75%; /* Grow, shrink, basis */
        max-width: 75%; /* Ensures left panel is at most 75% of the page width */
        padding: 10px;
    }
    #map {
        height: 100%;
        width: 100%;
    }
    #right-panel {
        flex: 1 1 25%; /* Grow, shrink, basis */
        padding: 10px;
        background-color: #f0f0f0; /* Optional: Background color for the right panel */
    }
    button {
            margin-top: 20px;
    }
</style>

<div id="left-panel">
    <div id="map"></div>
</div>
<div id="right-panel">
    <!-- Content for the right panel goes here -->
    <h1>Right Panel</h1>
    <p>This is the right panel content.</p>
    <button id="myButton">Scan the region</button>
</div>


<script src="{% static 'awesome.markers.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var centerLat = {{ center_lat }};
        var centerLng = {{ center_lng }};
        var bounds = [
            [{{ bounds.1 }}, {{ bounds.0 }}],  // Southwest corner (minLat, minLng)
            [{{ bounds.3 }}, {{ bounds.2 }}]   // Northeast corner (maxLat, maxLng)
        ];

        var locations = {{ locations|safe }};

        var map = L.map('map').setView([centerLat, centerLng], 14);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Set the view to fit the bounds
        // map.fitBounds(bounds);

        // Define a custom icon using Leaflet.AwesomeMarkers
        var selfCenterIcon = L.AwesomeMarkers.icon({
                icon: 'star', // Icon class (e.g., star, coffee, etc.)
                markerColor: 'red',
                prefix: 'fa',
        });

        var otherCenterIcon = L.AwesomeMarkers.icon({
                icon: 'star',
                markerColor: 'blue',
                prefix: 'fa'
        });

        locations.forEach(function(location) {
            var locLat = location[0];
            var locLng = location[1];
            var userStr = location[2];
            if (location.length === 4) {
                var otherMarker = L.marker([locLat, locLng], {icon: selfCenterIcon}).addTo(map);
                otherMarker.bindPopup("<b>" + userStr + "</b><br>This is another location.");
            } else {
                var otherMarker = L.marker([locLat, locLng], {icon: otherCenterIcon}).addTo(map);
                otherMarker.bindPopup("<b>" + userStr + "</b><br>This is another location.");
            }
        });

        // Add event listener to the button
        var button = document.getElementById('myButton');
        button.addEventListener('click', function() {
            console.log('Random String: ' + Math.random().toString(36).substring(7));
            button.disabled = true;
        });
    });
</script>


{% endblock %}
